<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All-toys</title>
</head>
<body>
    <div>
        All toys
    </div>

    <div>
        <table>
            <tr>
                <td style="width: 100px"><a href="{% url 'toys' %}">Toys</a></td>
                <td style="width: 100px"><a href="#">Users</a></td>
            </tr>
        </table>

        <table>
            {% for toy in object_list %}
                 <tr>
                     <td>{{ forloop.counter }}</td>
                     <td><a href="{% url 'toy_detail' pk=toy.pk %}">{{ toy.pk }}</a></td>
                     <td>{{ toy.name }}</td>
                     <td>{{ toy.user.email }}</td>
                     <td>
                         {% for tag in toy.tags.all %}
                            {{ tag.name }}
                         {% endfor %}
                     </td>
                </tr>
            {% endfor %}
        </table>
    </div>
<hr>

</body>
</html>